@import "../../../assets/styles/Helpers/variable.scss";
.team{
    background-color: #4e2a84;
    padding: 4rem 15%;
    .team__title{
        font-size: 3rem;
        color: white;
        text-align: center;
        margin-top: 0;
        
    }
    .team__content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:1.5rem;
        .team__member{
            position: relative;
            .team__member__detail{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #ff0e83;
                color: white;
                padding: 1rem;
                h2{
                    font-size: 1rem;
                    margin: 0 0 0.5rem 0;
                }
                p{
                    font-size: 0.8rem;
                    margin: 0;
                }
            }
            img{
                width: 100%;
                display: block;
            }
        }
    }
    
}