//************ Component BtnSign **********//
$bb_b: 1px solid #0073b1;
$bb_h: 40px;
$bb_w: 100px;
$bb_br: 3px;
$bb_c: #0073b1;
$bb_fs: 1.6rem;
$bb_fw: 600;
$bb_ml: 20px;
//->hover
$bb_h_bg: rgba(0, 115, 177, 0.2);
$bb_h_b: 2px solid #0073b1;
//->media(max width 1023)
$bbm_h: 30px;
$bbm_w: 70px;
$bbm_fs: 1.4rem;
$bbm_fw: 400;
$bbm_ml: 20px;
//
//******************* Component BtnStart**************
$bsb_h: 40px;
$bsb_w: 130px;
$bsb_p: 0 2px;
$bsb_fs: 1.6rem;
$bsb_fw: 600;
$bsb_c: rgba(0, 0, 0, 0.4);
//->hover
$bsb_h_bg: rgba(0, 0, 0, 0.08);
$bsb_h_br: 3px;
//-> media(max-width:1023)
$bsbm_h: 30px;
$bsbm_w: 100px;
$bsbm_fs: 1.4rem;

//****************** InputReponsive ************
$ib_ml: 8px;
$ib_b: 1px solid rgba(128, 128, 128, 0.5);
$ib_br: 3px 0 0 3px;
$ib_bg: rgba(128, 128, 128, 0.2);
$ib_h: 39px;
$ibi_h: 30px;
$ibi_w: 30px;
$ibis_t: 40px;
$ibis_mw: 140px;
$ibis_bs: 0px 4px 10px rgba(128, 128, 128, 0.7);
$ibis_br: 4px;
$ibisli_h_bg: rgba(128, 128, 128, 0.2);
$ibisi_ml: 10px;
$ibisli_p: 10px 10px;
$ibisli_fs: 1.5rem;
$ii_w: 90%;
$ii_b: 1px solid rgba(128, 128, 128, 0.5);
$ii_br: 0 3px 0 3px;
$ii_h: 35px;
$ii_mr: 8px;

//******************component Logo ***************//

$lai_w: 30px;
$lai_h: 30px;
$lai_br: 3px;

$las_c: #0073b1;
$las_ml: 12px;
$las_fs: 1.6rem;
$las_ls: 4px;
$las_fw: 450;

//**************** components input ***********//
$i_bright: 1.5px solid rgba(199, 209, 216, 1);
$i_bg: rgba(199, 209, 216, 0.35);
$i_pt: 13.5px;
$i_pb: 13.5px;

//****************component switch*************//
$sb_bg: rgba(199, 209, 216, 0.35);
$sb_bright: 1.5px solid rgba(199, 209, 216, 1);
$sb_p: 12px 15px;
$sb_br: 3px 0 0 3px;
//button img
$sbi_w: 10px;
$sbi_h: 10px;
$sbi_ml: 8px;
// button span
$sbs_fs: 1.6rem;
$sbs_fw: 600;
$sbs_c: rgba(0, 0, 0, 0.4);
// switch contentSwitch
$sc_b: 0.5px solid rgba(0, 0, 0, 0.4);
$sc_top: 50px;
$sc_left: 0;
$sc_mw: 140px;
$sc_br: 4px;
$sc_fs: 1.6rem;
$sc_bs: 1px 2px 11px rgba(0, 0, 0, 0.4);
$sc_h5_mb: 5px;
$sc_h5_ml: 20px;
$sc_ul_p: 0;
$sc_ul_m: 2px 0;
$sc_ul_li_m: 0;
/// sc ul li content__item
$sc_ul_li_ci_ml: 20px;
$sc_ul_li_ci_p: 10px 0;
$sc_ul_li_ci_fw: 600;
$sc_ul_li_ci_c: rgba(0, 0, 0, 0.4);

//*************component search input**********
$s_w: 60%;
$itb_ptb: 10px;
$itb_plr: 12px;
$itb_br: 0 3px 3px 0;
$itb_img_w: 20px;
$itb_img_h: 19px;

//****************component header*********************
$h_bs: 0px 1px 8px rgba(199, 209, 216, 1);
$h_mb: 5px;
$hwr_p: 10px 40px;
//-> media(max-width:1023px)
$hhw_p: 10px 10px;

// color blue
$color-blue-0: #0073b1;
$color-blue-1: rgba(0, 115, 177, 0.2);
//color gray
$color-gray-0: rgba(199, 209, 216, 0.35);
$color-gray-2: rgba(199, 209, 216, 1);
$color-gray-3: rgba(199, 209, 216, 0.2);
$color-gray-1: rgba(0, 0, 0, 0.4);
$color-gray-4: rgba(0, 0, 0, 0.08);
$color-gray-5: rgba(199, 209, 216, 0.2);
//color purple
$color-purple-0: #705ecf;
$color-purple-1: rgba(112, 94, 207, 0.9);
$color-purple-2: rgba(112, 94, 207, 0.7);
//color green
$color-green-0: #05b993;
$color-green-0: rgba(5, 185, 187, 0.9);
//color black
$color-black-0: black;
// genneral

// list trendding course
$lth_mb: 1.5rem;
$lth_fs: 1.6rem;
$lt_fw: 600;
$ltt_c: rgba(0, 0, 0, 0.6);
$ltsa_c: #0073b1;

// Sectionhero
$sh_h: 150rem;
$sh_w: 100%;
$sh_p: 1rem;
$li_h: 100%;
$li_w: 50%;
$fi_fs: 6.4rem;
//SectionJorn
$msj_w: 112rem;

// courese
$ci_h: 15rem;
$ci_br: 0.5rem;
$cn_fs: 1.8rem;
$cn_c: rgba(0, 0, 0, 0.9);
$cv_fs: 1.4rem;
$cv_fw: 400;
$cv_c: rgba(0, 0, 0, 0.6);

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
// directory
$dm_h: 28rem;
$dm_w: 100%;
$dw_w: 112rem;
$dw_h: 25rem;
$dl_h: 2rem;
$dl_w: 8.4rem;
$dw_p: 25rem;
$dls_w: 104rem;
$dls_h: 27rem;
$dc_w: 19rem;
$dc_h: 100%;
$dc_m: 2.4rem;
//footer
$fl_w: 112rem;
