@import "../../../assets/styles/Helpers/variable.scss";
.contact{
    padding: 4rem 15%;
    .contact__title{
        font-size: 3rem;
        color: black;
        text-align: center;
        margin-top: 0;

    }
    .contact__form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap:1.5rem ;
        grid-row-gap:1rem;
        .form-group{
            .form-control{
                width: 100%;
                border: 1px solid black;
                border-radius: 3px;
                padding:0.5rem ;
            }

        }
        .message{
            grid-column: 1/span 2;
        }
        .privacy{
            span{
                font-size: 0.7rem;
            }
        }
        .btn-submit{
            grid-column: 1/span 2;
            color: black;
            font-size: 0.7rem;
            font-weight: 700;
        }
        .btn_pink{
            background-color: #ff0c82;
            padding: 0.5rem 1rem;
            border: 1px solid rbg(221,221,221);
            color: white;
            text-transform: uppercase;
            font-size: 0.8rem;
            border-radius: 3px;
        }
    }

}