@import "../../../assets/styles/Helpers/variable.scss";
.footer {
  width: $dm_w;
  height: $dm_h;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  .footer__wrapper {
    width: $dw_w;
    height: $dw_h;
    .footer__logo {
      
      height: $dl_h;
      width: $dl_w;
      align-items: center;
      float: left;
    }
    .footer__lists {
      width: $dls_w;
      height: $dls_h;
      
      display: flex;
      justify-content: flex-end;
      .footer__column {
        width: $dc_w;
        height: $dc_h;
        margin-right: $dc_m;
        
        .footer__list-item--heading {
          font-size: 2.1rem;
          line-height: 1.5;
          font-weight: 600;
          color: white;
          line-height: 20px;
          margin-bottom: 8px;
        }
        ul {
          list-style: none;
          padding-left: 0;
          li {
            text-align: left;
            font-size: 100%;
            a {
              font-weight: 600;
              font-size: 2rem;
              line-height: 24px;
              text-decoration: none;
              background-color: transparent;
              color: dimgray;
              &:hover {
                text-decoration: underline;
                color: dodgerblue;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
